body, h1, h2 , button {
  font-family: 'Single Day', cursive;
} 

p {
  font-family: 'Montserrat', sans-serif;
} 

@media only screen and (max-width: 1200px) {
/*styles nav bar*/

header{
margin: 30px 0 30px 0;
font-size: 35px;
width: 100%;
}

/*resizes logo*/

.logo {
  width: 230px;
  height: 80px;
  float: left;
}

ul{
  list-style: none;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}


li a{
  display: flex;
  color: #416057;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #c5c381;
}

.wrapper menu{
  width: 100%;
}

/* adds banners */

.banner-home-container{

  width: 100%;
  height:80vh;
  position: relative;
  top: 0;
  left:0;

}

.video-home{ 
  width: 100%;
  height:100%;
  position:absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
}

.banner-content{
  width:100%;
  display: grid;
  place-items:center;
  height: auto;
  text-align:center;
  color: #fff7f7;
  
}

.banner-content h1{
  color:#eeab6d;
  font-size: 100px;
  font-family: 'Single Day', cursive;;
}

.banner-content p{
  color:white;
  margin: 5px 0 40px 0;
  font-size: 30px;
}


.banner-about{
  background-image: url(../images/about-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 55%;
  margin: 0;
  padding: 100px 50px;
  text-align: center;
  font-size: 100px;
  color: #c5c381;
}

.banner-contact{
  background-image: url(../images/about-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 55%;
  margin: 0;
  padding: 100px 50px;
  text-align: center;
  font-size: 100px;
  color: #c5c381;
}


/* styles reasons section on home page */

  .why{
    font-size: 30px;
    color: #416057;
    background-color: #c5c381;
    text-align: center;
    margin: 0;
    padding: 50px;
  }

.column img {
  width: 200px;
  height: 230px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explanation {
  width: 200px;
  height: 50px;
  text-align: center;
}

.reference {
  text-align: center;
  width: 200px;
  height: 50px;
}

.price {
  text-align: center;
  height: auto;
  width: 200px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
    "column column column column";
}

.column {
  flex: 20%;
  padding: 0;
}

.button {
  background-color: white; 
  border: solid 1px #416057;
  color: #416057;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  position:relative;
  font-size: 16px;
  margin: 4px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
}

.button:hover {
  animation-name: "size";
  background-color: #eeab6d;
  animation-duration: 2s;
  transform: scale(1.2);
}

/* styles product offer on home page */

.check{
  font-size: 30px;
  color: #416057;
  background-color: #eeab6d;
  text-align: center;
  margin: 0;
  padding: 50px;
}


/* styles mission on about page */

.mission , .vision {
border: solid 2px #eeab6d;
border-radius: 60px;
margin: 100px;
}

.mission-title , .vision-title {
  color: #416057;
  font-size: 70px;
}


/* styles form on contact page */

.contact-form {
  width: 90%;
  margin: 20px;
  padding: 20px;
  color: #416057;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #416057;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #eeab6d;
  color: #416057;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Single Day', cursive; 
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #646262;
}

form .container {
  border-radius: 5px;
  background-color: #fff7f7;
  padding: 20px;
  align-items: center;
}


.fa-facebook {
  color: #416057;

}

.fa-instagram {
  color: #416057;
}

.fa-pinterest {
  color: #416057;
}

/* styles footer */

footer{
  display: block;
  background-color: #c5c381;
  margin: 0;
  padding: 0;
  color: #416057;
  font-size: 15px; 
}

.logo-footer{
  width: 90px;
}

}


 /* For mobile: */
 [class="row-column"] {
  width: 100%;
}


  /* For desktop: */
@media only screen and (max-width: 770px) {
  .row .column {
    width: 8.33%;
    box-sizing: border-box;

  }

.wrapper-menu{
  background-color: #eeab6d;
}

nav ul{
  background-color: #eeab6d;
  display: block;
  text-align: center;
  padding: 0 25% 0 25%;
}

nav ul a{
  text-align: center;
  justify-content: center;
}

.logo{
display: none;
}

.cart-item {
  display: none;
}

.why{
  background-color: #c5c381;
  color: #416057;
  padding: 12px 50px;
  width: 200px;
  margin: 5px 5px 5px 80px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Single Day', cursive; 
  font-size: 20px;
  justify-content: center;
  display: block;
}

.why-container{
  font-weight: bolder;
}

.check{
  background-color: #eeab6d;
  color: #416057;
  padding: 12px 20px;
  width: 200px;
  margin: 5px 5px 5px 80px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Single Day', cursive; 
  font-size: 20px;
  justify-content: center;
  display: block;
}
  

.banner-content h1{
  color:#eeab6d;
  font-size: 50px;
  font-family: 'Single Day', cursive;;
}
  
.banner-content p{
  color:white;
  margin: 5px 0 40px 0;
  font-size: 15px;
}

.column img {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.row {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
    "column column" 
    "column column";
}

}



